<?xml version="1.0"?>
<launch>
    <!-- 
    批量发布四个bag文件的launch文件
    用法: roslaunch ergodic_search publish_bags.launch
    -->

    <!-- 参数定义 -->
    <arg name="bag_dir" default="$(find ergodic_search)/case2/no_prob_connect" />
    <arg name="publish_rate" default="10.0" />
    <arg name="frame_id" default="map" />
    
    <!-- 机器人0 -->
    <!-- <node name="bag_publisher_0" pkg="ergodic_search" type="bag2pub.py" 
          output="screen">
        <param name="bag_path" value="$(arg bag_dir)/traj0.bag" />
        <param name="robot_id" value="0" />
        <param name="publish_rate" value="$(arg publish_rate)" />
        <param name="frame" value="$(arg frame_id)" />
    </node> -->
    
    <!-- 机器人1 -->
    <node name="bag_publisher_0" pkg="ergodic_search" type="bag2pub" 
          output="screen">
        <param name="bag_path" value="$(arg bag_dir)/traj0.bag" />
        <param name="robot_id" value="robot_0" />
        <param name="publish_rate" value="$(arg publish_rate)" />
        <param name="frame" value="$(arg frame_id)" />
    </node>
    <!-- 机器人1 -->
    <node name="bag_publisher_1" pkg="ergodic_search" type="bag2pub" 
          output="screen">
        <param name="bag_path" value="$(arg bag_dir)/traj1.bag" />
        <param name="robot_id" value="robot_1" />
        <param name="publish_rate" value="$(arg publish_rate)" />
        <param name="frame" value="$(arg frame_id)" />
    </node>
    
    <!-- 机器人2 -->
    <node name="bag_publisher_2" pkg="ergodic_search" type="bag2pub" 
          output="screen">
        <param name="bag_path" value="$(arg bag_dir)/traj2.bag" />
        <param name="robot_id" value="robot_2" />
        <param name="publish_rate" value="$(arg publish_rate)" />
        <param name="frame" value="$(arg frame_id)" />
    </node>
    
    <!-- 机器人3 -->
    <node name="bag_publisher_3" pkg="ergodic_search" type="bag2pub" 
          output="screen">
        <param name="bag_path" value="$(arg bag_dir)/traj3.bag" />
        <param name="robot_id" value="robot_3" />
        <param name="publish_rate" value="$(arg publish_rate)" />
        <param name="frame" value="$(arg frame_id)" />
    </node>

</launch>